/.settings
/.metadata
/.project
/.cproject
/.mxproject
/*.ioc
/Core/Inc/board.h
/Core/Inc/*stm32*.*
/Core/Src/*stm32*.*
/Core/Src/syscalls.c
/Core/Src/sysmem.c
/Core/Startup/*.*
/Drivers/CMSIS
/Drivers/STM32*
/*.launch
/Debug
/Release
